@page
@model IndexModel
@{
    ViewData["Title"] = "Fill a Form"; //Sets the page's title in browser.
}
<h1>@ViewData["Title"]</h1>
<hr />


<form method="post">
    <fieldset>
        <legend>Customer Registration</legend>
        <table>
            <tr>
                <td><label for="FirstName">First Name:</label></td>
                <td><input type="text" name="FirstName" value="@ViewData["FirstName"]" /></td>
                <td>@ViewData["FirstNameErr"]</td>
            </tr>
            <tr>
                <td><label for="LastName">Last Name:</label></td>
                <td><input type="text" name="LastName" value="@ViewData["LastName"]" /></td>
                <td>@ViewData["LastNameErr"]</td>
            </tr>
            <tr>
                <td><label for="Email">Email:</label></td>
                <td><input type="text" name="Email" value="@ViewData["Email"]" /></td>
                <td>@ViewData["EmailErr"]</td>
            </tr>
            <tr>
                <td><label for="Phone">Phone:</label></td>
                <td><input type="text" name="Phone" value="@ViewData["Phone"]" /></td>
                <td>@ViewData["PhoneErr"]</td>
            </tr>
            <tr>
                <td><label for="Address">Address:</label></td>
                <td><input type="text" name="Address" value="@ViewData["Address"]" /></td>
                <td>@ViewData["AddressErr"]</td>
            </tr>
            <tr>
                <td><label for="PostalCode">Postal Code:</label></td>
                <td><input type="text" name="PostalCode" value="@ViewData["PostalCode"]" /></td>
                <td>@ViewData["PostalCodeErr"]</td>
            </tr>
            <tr>
                <td><label for="City">City:</label></td>
                <td><input type="text" name="City" value="@ViewData["City"]" /></td>
                <td>@ViewData["CityErr"]</td>
            </tr>
        </table>
        <hr />
        <table>
            <tr class="g-recaptcha" data-sitekey="@ViewData["RecaptchaSiteKey"]"></tr>
            <tr>@ViewData["RecaptchaErr"]</tr>
        </table>
        <br />
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>